USE [master]
GO
/****** Object:  Database [DbNutrition]    Script Date: 10.04.2023 23:50:47 ******/
CREATE DATABASE [DbNutrition]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbNutrition', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DbNutrition.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbNutrition_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DbNutrition_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbNutrition].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbNutrition]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 10.04.2023 23:50:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Abouts]    Script Date: 10.04.2023 23:50:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Abouts](
	[AboutID] [int] IDENTITY(1,1) NOT NULL,
	[AboutDetails1] [nvarchar](1000) NULL,
	[AboutDetails2] [nvarchar](1000) NULL,
	[AboutImage1] [nvarchar](500) NULL,
	[AboutImage2] [nvarchar](500) NULL,
 CONSTRAINT [PK_dbo.Abouts] PRIMARY KEY CLUSTERED 
(
	[AboutID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 10.04.2023 23:50:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[AdminUSerName] [nvarchar](50) NULL,
	[AdminPassword] [nvarchar](50) NULL,
	[AdminRole] [nvarchar](1) NULL,
 CONSTRAINT [PK_dbo.Admins] PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BadHabbits]    Script Date: 10.04.2023 23:50:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BadHabbits](
	[BadHabbitID] [int] IDENTITY(1,1) NOT NULL,
	[BadHabbitName] [nvarchar](50) NULL,
	[BadHabbitStatus] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.BadHabbits] PRIMARY KEY CLUSTERED 
(
	[BadHabbitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 10.04.2023 23:50:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NULL,
	[CategoryStatus] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChronicDiseases]    Script Date: 10.04.2023 23:50:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChronicDiseases](
	[ChronicDiseaseID] [int] IDENTITY(1,1) NOT NULL,
	[ChronicDiseaseName] [nvarchar](50) NULL,
	[ChronicDiseaseStatus] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ChronicDiseases] PRIMARY KEY CLUSTERED 
(
	[ChronicDiseaseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 10.04.2023 23:50:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[ContactID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[UserMail] [nvarchar](50) NULL,
	[Subject] [nvarchar](50) NULL,
	[Message] [nvarchar](1000) NULL,
	[ContactDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Contacts] PRIMARY KEY CLUSTERED 
(
	[ContactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Days]    Script Date: 10.04.2023 23:50:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Days](
	[DayID] [int] IDENTITY(1,1) NOT NULL,
	[DayName] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.Days] PRIMARY KEY CLUSTERED 
(
	[DayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DayTimes]    Script Date: 10.04.2023 23:50:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DayTimes](
	[DayTimeID] [int] IDENTITY(1,1) NOT NULL,
	[DayTimeName] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.DayTimes] PRIMARY KEY CLUSTERED 
(
	[DayTimeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Digestions]    Script Date: 10.04.2023 23:50:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Digestions](
	[DigestionID] [int] IDENTITY(1,1) NOT NULL,
	[DigestionName] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.Digestions] PRIMARY KEY CLUSTERED 
(
	[DigestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Foods]    Script Date: 10.04.2023 23:50:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Foods](
	[FoodID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[FoodName] [nvarchar](50) NULL,
	[FoodCalorie] [int] NOT NULL,
	[FoodStatus] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Foods] PRIMARY KEY CLUSTERED 
(
	[FoodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImageFiles]    Script Date: 10.04.2023 23:50:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageFiles](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[ImageName] [nvarchar](100) NULL,
	[ImagePath] [nvarchar](250) NULL,
 CONSTRAINT [PK_dbo.ImageFiles] PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 10.04.2023 23:50:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[MessageID] [int] IDENTITY(1,1) NOT NULL,
	[SenderMail] [nvarchar](50) NULL,
	[ReceiverMail] [nvarchar](50) NULL,
	[Subject] [nvarchar](100) NULL,
	[MessageContent] [nvarchar](max) NULL,
	[MessageDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Messages] PRIMARY KEY CLUSTERED 
(
	[MessageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sleeps]    Script Date: 10.04.2023 23:50:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sleeps](
	[SleepID] [int] IDENTITY(1,1) NOT NULL,
	[SleepHour] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Sleeps] PRIMARY KEY CLUSTERED 
(
	[SleepID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stresses]    Script Date: 10.04.2023 23:50:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stresses](
	[StressID] [int] IDENTITY(1,1) NOT NULL,
	[StressName] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.Stresses] PRIMARY KEY CLUSTERED 
(
	[StressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserDays]    Script Date: 10.04.2023 23:50:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDays](
	[UserDayID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[DayID] [int] NOT NULL,
	[WaterAmountID] [int] NOT NULL,
	[StressID] [int] NOT NULL,
	[SleepID] [int] NOT NULL,
	[StepCount] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UserDays] PRIMARY KEY CLUSTERED 
(
	[UserDayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserDayTimeDigestions]    Script Date: 10.04.2023 23:50:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDayTimeDigestions](
	[UserDayTimeDigestionID] [int] IDENTITY(1,1) NOT NULL,
	[UserDayTimeID] [int] NOT NULL,
	[DigestionID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UserDayTimeDigestions] PRIMARY KEY CLUSTERED 
(
	[UserDayTimeDigestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserDayTimes]    Script Date: 10.04.2023 23:50:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDayTimes](
	[UserDayTimeID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[DayID] [int] NOT NULL,
	[DayTimeID] [int] NOT NULL,
	[FoodID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UserDayTimes] PRIMARY KEY CLUSTERED 
(
	[UserDayTimeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserDetails]    Script Date: 10.04.2023 23:50:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDetails](
	[UserDetailID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Age] [int] NOT NULL,
	[Sex] [nvarchar](50) NOT NULL,
	[Height] [float] NOT NULL,
	[Weight] [float] NOT NULL,
	[BodyMassIndexValue] [float] NULL,
	[BadHabbitID] [int] NOT NULL,
	[ChronicDiseaseID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UserDetails] PRIMARY KEY CLUSTERED 
(
	[UserDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10.04.2023 23:50:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[Password] [nvarchar](200) NOT NULL,
	[Image] [nvarchar](100) NULL,
	[UserAbout] [nvarchar](100) NULL,
	[UserTitle] [nvarchar](50) NOT NULL,
	[UserStatus] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WaterAmounts]    Script Date: 10.04.2023 23:50:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WaterAmounts](
	[WaterAmountID] [int] IDENTITY(1,1) NOT NULL,
	[Glass] [int] NOT NULL,
 CONSTRAINT [PK_dbo.WaterAmounts] PRIMARY KEY CLUSTERED 
(
	[WaterAmountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Abouts] ON 

INSERT [dbo].[Abouts] ([AboutID], [AboutDetails1], [AboutDetails2], [AboutImage1], [AboutImage2]) VALUES (1, N'deneme', N'test', N'resim1', N'resim2')
INSERT [dbo].[Abouts] ([AboutID], [AboutDetails1], [AboutDetails2], [AboutImage1], [AboutImage2]) VALUES (2, N'a', N'b', N'c', N'd')
INSERT [dbo].[Abouts] ([AboutID], [AboutDetails1], [AboutDetails2], [AboutImage1], [AboutImage2]) VALUES (3, N'x', N'c', N'v', N'n')
SET IDENTITY_INSERT [dbo].[Abouts] OFF
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([AdminID], [AdminUSerName], [AdminPassword], [AdminRole]) VALUES (1, N'admin@gmail.com', N'001', N'B')
INSERT [dbo].[Admins] ([AdminID], [AdminUSerName], [AdminPassword], [AdminRole]) VALUES (2, N'admin2@gmail.com', N'002', N'B')
INSERT [dbo].[Admins] ([AdminID], [AdminUSerName], [AdminPassword], [AdminRole]) VALUES (3, N'admin3@gmail.com', N'003', N'B')
SET IDENTITY_INSERT [dbo].[Admins] OFF
GO
SET IDENTITY_INSERT [dbo].[BadHabbits] ON 

INSERT [dbo].[BadHabbits] ([BadHabbitID], [BadHabbitName], [BadHabbitStatus]) VALUES (1, N'Yok', 1)
INSERT [dbo].[BadHabbits] ([BadHabbitID], [BadHabbitName], [BadHabbitStatus]) VALUES (2, N'Sigara', 1)
INSERT [dbo].[BadHabbits] ([BadHabbitID], [BadHabbitName], [BadHabbitStatus]) VALUES (3, N'Alkol', 1)
SET IDENTITY_INSERT [dbo].[BadHabbits] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [CategoryStatus]) VALUES (2, N'Meyveler', 0)
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [CategoryStatus]) VALUES (3, N'Sebzeler', 1)
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [CategoryStatus]) VALUES (4, N'Fast-Food', 1)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[ChronicDiseases] ON 

INSERT [dbo].[ChronicDiseases] ([ChronicDiseaseID], [ChronicDiseaseName], [ChronicDiseaseStatus]) VALUES (1, N'Yok', 1)
INSERT [dbo].[ChronicDiseases] ([ChronicDiseaseID], [ChronicDiseaseName], [ChronicDiseaseStatus]) VALUES (2, N'Tansiyon', 1)
INSERT [dbo].[ChronicDiseases] ([ChronicDiseaseID], [ChronicDiseaseName], [ChronicDiseaseStatus]) VALUES (3, N'Diyabet', 1)
SET IDENTITY_INSERT [dbo].[ChronicDiseases] OFF
GO
SET IDENTITY_INSERT [dbo].[Contacts] ON 

INSERT [dbo].[Contacts] ([ContactID], [UserName], [UserMail], [Subject], [Message], [ContactDate]) VALUES (1, N'alicik', N'ali@gmail.com', N'teşekkür', N'teşekkürlerrrrrr', CAST(N'2022-12-27T00:00:00.000' AS DateTime))
INSERT [dbo].[Contacts] ([ContactID], [UserName], [UserMail], [Subject], [Message], [ContactDate]) VALUES (2, N'ayse', N'ayse@gmail.com', N'şikayet', N'berbat', CAST(N'2022-12-27T00:00:00.000' AS DateTime))
INSERT [dbo].[Contacts] ([ContactID], [UserName], [UserMail], [Subject], [Message], [ContactDate]) VALUES (3, N'fatma', N'fatma@gmail.com', N'rica', N'daha iyi olsa keşke', CAST(N'2022-12-27T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Contacts] OFF
GO
SET IDENTITY_INSERT [dbo].[Days] ON 

INSERT [dbo].[Days] ([DayID], [DayName]) VALUES (1, N'Pazartesi')
INSERT [dbo].[Days] ([DayID], [DayName]) VALUES (2, N'Salı')
INSERT [dbo].[Days] ([DayID], [DayName]) VALUES (3, N'Çarşamba')
SET IDENTITY_INSERT [dbo].[Days] OFF
GO
SET IDENTITY_INSERT [dbo].[DayTimes] ON 

INSERT [dbo].[DayTimes] ([DayTimeID], [DayTimeName]) VALUES (1, N'Sabah')
INSERT [dbo].[DayTimes] ([DayTimeID], [DayTimeName]) VALUES (2, N'Öğle')
INSERT [dbo].[DayTimes] ([DayTimeID], [DayTimeName]) VALUES (3, N'Akşam')
SET IDENTITY_INSERT [dbo].[DayTimes] OFF
GO
SET IDENTITY_INSERT [dbo].[Digestions] ON 

INSERT [dbo].[Digestions] ([DigestionID], [DigestionName]) VALUES (1, N'Kötü')
INSERT [dbo].[Digestions] ([DigestionID], [DigestionName]) VALUES (2, N'İyi')
SET IDENTITY_INSERT [dbo].[Digestions] OFF
GO
SET IDENTITY_INSERT [dbo].[Foods] ON 

INSERT [dbo].[Foods] ([FoodID], [CategoryID], [FoodName], [FoodCalorie], [FoodStatus]) VALUES (4, 2, N'Elma', 52, 1)
INSERT [dbo].[Foods] ([FoodID], [CategoryID], [FoodName], [FoodCalorie], [FoodStatus]) VALUES (5, 2, N'Armut', 57, 1)
INSERT [dbo].[Foods] ([FoodID], [CategoryID], [FoodName], [FoodCalorie], [FoodStatus]) VALUES (6, 2, N'Karpuz', 30, 1)
SET IDENTITY_INSERT [dbo].[Foods] OFF
GO
SET IDENTITY_INSERT [dbo].[ImageFiles] ON 

INSERT [dbo].[ImageFiles] ([ImageID], [ImageName], [ImagePath]) VALUES (1, N'Chicago', N'/AdminLTE-3.0.4/images/chicago.jpeg')
INSERT [dbo].[ImageFiles] ([ImageID], [ImageName], [ImagePath]) VALUES (2, N'New York', N'/AdminLTE-3.0.4/images/new york.jpeg')
SET IDENTITY_INSERT [dbo].[ImageFiles] OFF
GO
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([MessageID], [SenderMail], [ReceiverMail], [Subject], [MessageContent], [MessageDate]) VALUES (3, N'canaleyna20@gmail.com', N'admin@gmail.com', N'deneme', N'merhaba bu bir test mesajıdır', CAST(N'2022-12-27T00:00:00.000' AS DateTime))
INSERT [dbo].[Messages] ([MessageID], [SenderMail], [ReceiverMail], [Subject], [MessageContent], [MessageDate]) VALUES (5, N'canaleyna20@gmail.com', N'kerembulut@gmail.com', N'deneme2', N'xzfsdgfhgjhbklmkjhgfd', CAST(N'2022-12-27T00:00:00.000' AS DateTime))
INSERT [dbo].[Messages] ([MessageID], [SenderMail], [ReceiverMail], [Subject], [MessageContent], [MessageDate]) VALUES (6, N'kerembulut@gmail.com', N'admin@gmail.com', N'deneme33333', N'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa', CAST(N'2022-12-27T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Messages] OFF
GO
SET IDENTITY_INSERT [dbo].[Sleeps] ON 

INSERT [dbo].[Sleeps] ([SleepID], [SleepHour]) VALUES (1, 1)
INSERT [dbo].[Sleeps] ([SleepID], [SleepHour]) VALUES (2, 2)
INSERT [dbo].[Sleeps] ([SleepID], [SleepHour]) VALUES (3, 3)
SET IDENTITY_INSERT [dbo].[Sleeps] OFF
GO
SET IDENTITY_INSERT [dbo].[Stresses] ON 

INSERT [dbo].[Stresses] ([StressID], [StressName]) VALUES (1, N'Hiç')
INSERT [dbo].[Stresses] ([StressID], [StressName]) VALUES (2, N'Az')
INSERT [dbo].[Stresses] ([StressID], [StressName]) VALUES (3, N'Orta')
SET IDENTITY_INSERT [dbo].[Stresses] OFF
GO
SET IDENTITY_INSERT [dbo].[UserDays] ON 

INSERT [dbo].[UserDays] ([UserDayID], [UserID], [DayID], [WaterAmountID], [StressID], [SleepID], [StepCount]) VALUES (2, 2, 1, 8, 2, 12, 5000)
INSERT [dbo].[UserDays] ([UserDayID], [UserID], [DayID], [WaterAmountID], [StressID], [SleepID], [StepCount]) VALUES (9, 3, 1, 4, 3, 3, 250)
INSERT [dbo].[UserDays] ([UserDayID], [UserID], [DayID], [WaterAmountID], [StressID], [SleepID], [StepCount]) VALUES (10, 6, 2, 5, 1, 7, 1000)
SET IDENTITY_INSERT [dbo].[UserDays] OFF
GO
SET IDENTITY_INSERT [dbo].[UserDayTimeDigestions] ON 

INSERT [dbo].[UserDayTimeDigestions] ([UserDayTimeDigestionID], [UserDayTimeID], [DigestionID]) VALUES (2, 2, 1)
INSERT [dbo].[UserDayTimeDigestions] ([UserDayTimeDigestionID], [UserDayTimeID], [DigestionID]) VALUES (5, 3, 2)
INSERT [dbo].[UserDayTimeDigestions] ([UserDayTimeDigestionID], [UserDayTimeID], [DigestionID]) VALUES (7, 7, 1)
SET IDENTITY_INSERT [dbo].[UserDayTimeDigestions] OFF
GO
SET IDENTITY_INSERT [dbo].[UserDayTimes] ON 

INSERT [dbo].[UserDayTimes] ([UserDayTimeID], [UserID], [DayID], [DayTimeID], [FoodID]) VALUES (2, 2, 4, 2, 6)
INSERT [dbo].[UserDayTimes] ([UserDayTimeID], [UserID], [DayID], [DayTimeID], [FoodID]) VALUES (3, 2, 4, 3, 4)
INSERT [dbo].[UserDayTimes] ([UserDayTimeID], [UserID], [DayID], [DayTimeID], [FoodID]) VALUES (7, 2, 4, 3, 12)
SET IDENTITY_INSERT [dbo].[UserDayTimes] OFF
GO
SET IDENTITY_INSERT [dbo].[UserDetails] ON 

INSERT [dbo].[UserDetails] ([UserDetailID], [UserID], [Age], [Sex], [Height], [Weight], [BodyMassIndexValue], [BadHabbitID], [ChronicDiseaseID]) VALUES (2, 2, 23, N'Erkek', 1.9, 90, NULL, 2, 3)
INSERT [dbo].[UserDetails] ([UserDetailID], [UserID], [Age], [Sex], [Height], [Weight], [BodyMassIndexValue], [BadHabbitID], [ChronicDiseaseID]) VALUES (3, 3, 22, N'Kadın', 1.9, 70, NULL, 3, 4)
INSERT [dbo].[UserDetails] ([UserDetailID], [UserID], [Age], [Sex], [Height], [Weight], [BodyMassIndexValue], [BadHabbitID], [ChronicDiseaseID]) VALUES (5, 6, 21, N'Kadın', 16, 50, NULL, 2, 2)
SET IDENTITY_INSERT [dbo].[UserDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Name], [Surname], [Email], [Password], [Image], [UserAbout], [UserTitle], [UserStatus]) VALUES (2, N'Kerem ', N'Bulut', N'kerem.bulut@gmail.com', N'123456', NULL, NULL, N'Kaptan', 1)
INSERT [dbo].[Users] ([UserID], [Name], [Surname], [Email], [Password], [Image], [UserAbout], [UserTitle], [UserStatus]) VALUES (3, N'Esra', N'Akat', N'esra.akat@gmail.com', N'123456', NULL, NULL, N'Mühendis', 1)
INSERT [dbo].[Users] ([UserID], [Name], [Surname], [Email], [Password], [Image], [UserAbout], [UserTitle], [UserStatus]) VALUES (6, N'Aleyna', N'Can', N'aleyna.can@gmail.com', N'123456', NULL, NULL, N'Öğrenci', 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[WaterAmounts] ON 

INSERT [dbo].[WaterAmounts] ([WaterAmountID], [Glass]) VALUES (1, 1)
INSERT [dbo].[WaterAmounts] ([WaterAmountID], [Glass]) VALUES (2, 2)
INSERT [dbo].[WaterAmounts] ([WaterAmountID], [Glass]) VALUES (3, 3)
SET IDENTITY_INSERT [dbo].[WaterAmounts] OFF
GO
/****** Object:  Index [IX_CategoryID]    Script Date: 10.04.2023 23:50:48 ******/
CREATE NONCLUSTERED INDEX [IX_CategoryID] ON [dbo].[Foods]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DayID]    Script Date: 10.04.2023 23:50:48 ******/
CREATE NONCLUSTERED INDEX [IX_DayID] ON [dbo].[UserDays]
(
	[DayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SleepID]    Script Date: 10.04.2023 23:50:48 ******/
CREATE NONCLUSTERED INDEX [IX_SleepID] ON [dbo].[UserDays]
(
	[SleepID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StressID]    Script Date: 10.04.2023 23:50:48 ******/
CREATE NONCLUSTERED INDEX [IX_StressID] ON [dbo].[UserDays]
(
	[StressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserID]    Script Date: 10.04.2023 23:50:48 ******/
CREATE NONCLUSTERED INDEX [IX_UserID] ON [dbo].[UserDays]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WaterAmountID]    Script Date: 10.04.2023 23:50:48 ******/
CREATE NONCLUSTERED INDEX [IX_WaterAmountID] ON [dbo].[UserDays]
(
	[WaterAmountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DigestionID]    Script Date: 10.04.2023 23:50:48 ******/
CREATE NONCLUSTERED INDEX [IX_DigestionID] ON [dbo].[UserDayTimeDigestions]
(
	[DigestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserDayTimeID]    Script Date: 10.04.2023 23:50:48 ******/
CREATE NONCLUSTERED INDEX [IX_UserDayTimeID] ON [dbo].[UserDayTimeDigestions]
(
	[UserDayTimeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DayID]    Script Date: 10.04.2023 23:50:48 ******/
CREATE NONCLUSTERED INDEX [IX_DayID] ON [dbo].[UserDayTimes]
(
	[DayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DayTimeID]    Script Date: 10.04.2023 23:50:48 ******/
CREATE NONCLUSTERED INDEX [IX_DayTimeID] ON [dbo].[UserDayTimes]
(
	[DayTimeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FoodID]    Script Date: 10.04.2023 23:50:48 ******/
CREATE NONCLUSTERED INDEX [IX_FoodID] ON [dbo].[UserDayTimes]
(
	[FoodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserID]    Script Date: 10.04.2023 23:50:48 ******/
CREATE NONCLUSTERED INDEX [IX_UserID] ON [dbo].[UserDayTimes]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BadHabbitID]    Script Date: 10.04.2023 23:50:48 ******/
CREATE NONCLUSTERED INDEX [IX_BadHabbitID] ON [dbo].[UserDetails]
(
	[BadHabbitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChronicDiseaseID]    Script Date: 10.04.2023 23:50:48 ******/
CREATE NONCLUSTERED INDEX [IX_ChronicDiseaseID] ON [dbo].[UserDetails]
(
	[ChronicDiseaseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserID]    Script Date: 10.04.2023 23:50:48 ******/
CREATE NONCLUSTERED INDEX [IX_UserID] ON [dbo].[UserDetails]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BadHabbits] ADD  DEFAULT ((0)) FOR [BadHabbitStatus]
GO
ALTER TABLE [dbo].[ChronicDiseases] ADD  DEFAULT ((0)) FOR [ChronicDiseaseStatus]
GO
ALTER TABLE [dbo].[Contacts] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [ContactDate]
GO
ALTER TABLE [dbo].[Foods] ADD  DEFAULT ((0)) FOR [FoodStatus]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__UserStatu__14270015]  DEFAULT ((0)) FOR [UserStatus]
GO
ALTER TABLE [dbo].[Foods]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Foods_dbo.Categories_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Foods] CHECK CONSTRAINT [FK_dbo.Foods_dbo.Categories_CategoryID]
GO
ALTER TABLE [dbo].[UserDays]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserDays_dbo.Days_DayID] FOREIGN KEY([DayID])
REFERENCES [dbo].[Days] ([DayID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserDays] CHECK CONSTRAINT [FK_dbo.UserDays_dbo.Days_DayID]
GO
ALTER TABLE [dbo].[UserDays]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserDays_dbo.Sleeps_SleepID] FOREIGN KEY([SleepID])
REFERENCES [dbo].[Sleeps] ([SleepID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserDays] CHECK CONSTRAINT [FK_dbo.UserDays_dbo.Sleeps_SleepID]
GO
ALTER TABLE [dbo].[UserDays]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserDays_dbo.Stresses_StressID] FOREIGN KEY([StressID])
REFERENCES [dbo].[Stresses] ([StressID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserDays] CHECK CONSTRAINT [FK_dbo.UserDays_dbo.Stresses_StressID]
GO
ALTER TABLE [dbo].[UserDays]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserDays_dbo.Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserDays] CHECK CONSTRAINT [FK_dbo.UserDays_dbo.Users_UserID]
GO
ALTER TABLE [dbo].[UserDays]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserDays_dbo.WaterAmounts_WaterAmountID] FOREIGN KEY([WaterAmountID])
REFERENCES [dbo].[WaterAmounts] ([WaterAmountID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserDays] CHECK CONSTRAINT [FK_dbo.UserDays_dbo.WaterAmounts_WaterAmountID]
GO
ALTER TABLE [dbo].[UserDayTimeDigestions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserDayTimeDigestions_dbo.Digestions_DigestionID] FOREIGN KEY([DigestionID])
REFERENCES [dbo].[Digestions] ([DigestionID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserDayTimeDigestions] CHECK CONSTRAINT [FK_dbo.UserDayTimeDigestions_dbo.Digestions_DigestionID]
GO
ALTER TABLE [dbo].[UserDayTimeDigestions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserDayTimeDigestions_dbo.UserDayTimes_UserDayTimeID] FOREIGN KEY([UserDayTimeID])
REFERENCES [dbo].[UserDayTimes] ([UserDayTimeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserDayTimeDigestions] CHECK CONSTRAINT [FK_dbo.UserDayTimeDigestions_dbo.UserDayTimes_UserDayTimeID]
GO
ALTER TABLE [dbo].[UserDayTimes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserDayTimes_dbo.Days_DayID] FOREIGN KEY([DayID])
REFERENCES [dbo].[Days] ([DayID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserDayTimes] CHECK CONSTRAINT [FK_dbo.UserDayTimes_dbo.Days_DayID]
GO
ALTER TABLE [dbo].[UserDayTimes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserDayTimes_dbo.DayTimes_DayTimeID] FOREIGN KEY([DayTimeID])
REFERENCES [dbo].[DayTimes] ([DayTimeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserDayTimes] CHECK CONSTRAINT [FK_dbo.UserDayTimes_dbo.DayTimes_DayTimeID]
GO
ALTER TABLE [dbo].[UserDayTimes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserDayTimes_dbo.Foods_FoodID] FOREIGN KEY([FoodID])
REFERENCES [dbo].[Foods] ([FoodID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserDayTimes] CHECK CONSTRAINT [FK_dbo.UserDayTimes_dbo.Foods_FoodID]
GO
ALTER TABLE [dbo].[UserDayTimes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserDayTimes_dbo.Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserDayTimes] CHECK CONSTRAINT [FK_dbo.UserDayTimes_dbo.Users_UserID]
GO
ALTER TABLE [dbo].[UserDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserDetails_dbo.BadHabbits_BadHabbitID] FOREIGN KEY([BadHabbitID])
REFERENCES [dbo].[BadHabbits] ([BadHabbitID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserDetails] CHECK CONSTRAINT [FK_dbo.UserDetails_dbo.BadHabbits_BadHabbitID]
GO
ALTER TABLE [dbo].[UserDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserDetails_dbo.ChronicDiseases_ChronicDiseaseID] FOREIGN KEY([ChronicDiseaseID])
REFERENCES [dbo].[ChronicDiseases] ([ChronicDiseaseID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserDetails] CHECK CONSTRAINT [FK_dbo.UserDetails_dbo.ChronicDiseases_ChronicDiseaseID]
GO
ALTER TABLE [dbo].[UserDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserDetails_dbo.Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserDetails] CHECK CONSTRAINT [FK_dbo.UserDetails_dbo.Users_UserID]
GO
USE [master]
GO
